<!-- HTML Default Page

Purpose: Garnero Engineering
Author: Nicholas Jones
Date: 05/28/2018
Version: 1.0
-->

{% extends 'HomePage/layout.html' %}
{% load static %}
{% block content %}
    <!-- Starts Content for Home Page -->
<!--
    <link rel="stylesheet" type="text/css" href="{% static 'homePageBlock.css' %}">

    <div class="blockContainer">

    <h3>
        Mechanical Engineering Design and Analysis by a Professional!
    </h3>

    <div class="sideBar">
        <ul class="outdoorProjects">
            <li id="link"><a href="">Outdoor Projects</a></li>
            <li><img src="{% static 'images/outdoorProject.jpg' %}"/></li>
            <li><img src="{% static 'images/outdoorProject2.jpg' %}"/></li>
            <li><img src="{% static 'images/outdoorProject3.jpg' %}"/></li>
        </ul>
        <ul class="homeFurnishings">
            <li id="link"><a href="">Home Furnishings</a></li>
            <li><img src="{% static 'images/homeFurnishing.jpg' %}"/></li>
            <li><img src="{% static 'images/homeFurnishing2.jpg' %}"/></li>
            <li><img src="{% static 'images/homeFurnishing3.jpg' %}"/></li>
        </ul>
        <ul class="workshopAccessories">
            <li id="link"><a href="">Workshop Accessories</a></li>
            <li><img src="{% static 'images/workshopAccessories.jpg' %}"/></li>
            <li><img src="{% static 'images/workshopAccessories2.jpg' %}"/></li>
            <li><img src="{% static 'images/workshopAccessories3.jpg' %}"/></li>
        </ul>
        <ul class="projectsForChildren">
            <li id="link"><a href="">Projects for Children</a></li>
            <li><img src="{% static 'images/projectKid.jpg' %}"/></li>
            <li><img src="{% static 'images/projectKid2.png' %}"/></li>
            <li><img src="{% static 'images/projectKid3.jpg' %}"/></li>
        </ul>
        <ul class="projectsForTeenagers">
            <li id="link"><a href="">Projects for Teenagers</a></li>
            <li><img src="{% static 'images/projectTeen.jpg' %}"/></li>
            <li><img src="{% static 'images/projectTeen2.jpg' %}"/></li>
            <li><img src="{% static 'images/projectTeen3.jpg' %}"/></li>
        </ul>
        <ul class="wheelchairAccessibilityProjects">
            <li id="link"><a href="">Wheelchair Accessibility Projects</a></li>
            <li><img src="{% static 'images/wheelchairAccessibility.jpg' %}"/></li>
            <li><img src="{% static 'images/wheelchairAccessibility2.jpg' %}"/></li>
            <li><img src="{% static 'images/wheelchairAccessibility3.jpg' %}"/></li>
        </ul>
    </div>

    <div class="printer3D">

    </div>

    </div>

{% endblock %}
<!-- End of Content for HomePage -->