<div class="grid-x">
    <div class="cell text-center">
        <h3 class="content-header-red" style="margin-top: 1rem;">Care for Patients with Terminal Illness</h3>
        <p>Get comprehensive medical and personal care services for your loved one. You can depend on Legacy Of Love Hospice in Lubbock, TX when you need hospice care for your ill family member. The earlier you arrange for our services, the more we can do for the patient and your family.</p>
        <h3 class="content-header-red">Get in Touch with Our Agency</h3>
        <p>In hospice care, we focus on all aspects of a person’s life and well-being. We emphasize on giving quality support rather than extending the patient’s lifespan. Feel free to get in touch with our hospice care agency to learn more about our services.</p>
        <h3 class="content-header-red">We Accept:</h3>

        <ul class="contact1" style="list-style:none;">
            <li>Medicaid</li>
            <li>Medicare</li>
            <li>Non-Funded</li>
            <li>Private Insurance</li>
        </ul>

        <h3 class="content-header-red">Service Areas:</h3>
        <ul class="contact2" style="list-style:none;">
            <li>Bailey County, TX</li>
            <li>Borden County, TX</li>
            <li>Briscoe County, TX</li>
            <li>Castro County, TX</li>
            <li>Cochran County, TX</li>
            <li>Dawson County, TX</li>
            <li>Deaf Smith County, TX</li>
            <li>Dickens County, TX</li>
            <li>Floyd County, TX</li>
            <li>Gaines County, TX</li>
            <li>Garza County, TX</li>
            <li>Garza County, TX</li>
            <li>Hale County, TX</li>
            <li>Hockley County, TX</li>
            <li>Lamb County, TX</li>
            <li>Lubbock County, TX</li>
            <li>Lynn County, TX</li>
            <li>Motley County, TX</li>
            <li>Parmer County, TX</li>
            <li>Smith County, TX</li>
            <li>Swisher County, TX</li>
            <li>Terry County, TX</li>
            <li>Yoakum County, TX</li>
        </ul>
        <h3 class="content-header-red">Legacy Of Love Hospice Contact Information</h3>
        <ul class="contact3" style="list-style:none;">
            <li>4409 71st Street Lubbock, TX 79424</li>
            <li>Phone: (806) 370-2100</li>
            <li>Fax: (806) 370-2100</li>
            <li>24 hours/ 7 days</li>
            <li>Email: Legacyoflovehospice@windstream.net</li>
        </ul>

        <h3 class="content-header-red">Hours of Operation/Office Hours</h3>

        <p>Monday to Friday 9:00 AM – 5:00 PM</p>
    </div>
</div>