<div class="grid-x">
    <div class="cell text-center">
        <h3 class="content-header-orange" style="margin-top: 1rem;">Consult Our Healthcare Professionals Now</h3>
        <p>Is it time to get hospice care for your loved one? How beneficial will it be to your family member? For all your hospice care inquiries, consult the healthcare professionals of Legacy Of Love Hospice in Lubbock, TX. Leave us a message using our online contact form. One of our representatives will get back to you as soon as possible.</p>
        {% if content_form %}
        {% include content_form %}
        {%  endif %}
        <h3 class="content-header-orange" style="margin-top: 1rem;">Get the Support Your Family Needs</h3>
        <p>If you think hospice care is the right choice for your family, get in touch with our agency right away. We will explain our hospice services and plan an ideal care program that caters to your family member’s specific requirements. We will see to it that your beloved receives the care and support that he or she needs. Call us now at (806) 370-2100.</p>
    </div>
</div>