{% extends 'Base-Content/base.html' %}

{% block content %}
    <form class="centered-form" id="signup-form" method="post">
        <h2 style="text-align: center;">Sign up</h2>
        {% csrf_token %}
        <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="50" autofocus="" required="required" id="id_username"> <!--span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>--></p>
        <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="30" required="required" id="id_first_name"></p>
        <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="30" required="required" id="id_last_name"></p>
        <p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="50" required="required" id="id_email"> <!-- span class="helptext">Required</span></p> -->
        <p><label for="id_password1">Password:</label> <input type="password" name="password1" required="required" id="id_password1"> <span class="helptext"></span></p><!-- <ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul><p> </p> -->
        <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required="required" id="id_password2"> <!-- span class="helptext">Enter the same password as before, for verification.</span>--> </p>
        <div class="submit-button"><button type="submit">Sign up</button></div>
    </form>
{% endblock %}