{% load static %}
{% block content %}
  <li>
      <a href="">Nicholas Jones</a>
      <ul class="menu vertical nested">
          <li>
              <a href="#">Item 1A</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1B</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1C</a>
            <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
      </ul>
  </li>
  <li>
      <a href="#">Joseph Dirik</a>
      <ul class="menu vertical nested">
          <li>
              <a href="#">Item 1A</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1B</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Bi</a></li>
                  <li><a href="#">Item 1Bii</a></li>
                  <li><a href="#">Item 1Biii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1C</a>
            <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ci</a></li>
                  <li><a href="#">Item 1Cii</a></li>
                  <li><a href="#">Item 1Ciii</a></li>
              </ul>
          </li>
      </ul>
  </li>
    <li>
        <a href="#">Jose Chapela</a>
        <ul class="menu vertical nested">
          <li>
              <a href="#">Item 1A</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1B</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Bi</a></li>
                  <li><a href="#">Item 1Bii</a></li>
                  <li><a href="#">Item 1Biii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1C</a>
            <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ci</a></li>
                  <li><a href="#">Item 1Cii</a></li>
                  <li><a href="#">Item 1Ciii</a></li>
              </ul>
          </li>
        </ul>
    </li>
    <li>
        <a href="#">Andrew Warren</a>
        <ul class="menu vertical nested">
          <li>
              <a href="#">Item 1A</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1B</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Bi</a></li>
                  <li><a href="#">Item 1Bii</a></li>
                  <li><a href="#">Item 1Biii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1C</a>
            <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ci</a></li>
                  <li><a href="#">Item 1Cii</a></li>
                  <li><a href="#">Item 1Ciii</a></li>
              </ul>
          </li>
      </ul>
    </li>
    <li>
        <a href="#">Amber Digiovanni</a>
        <ul class="menu vertical nested">
          <li>
              <a href="#">Item 1A</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ai</a></li>
                  <li><a href="#">Item 1Aii</a></li>
                  <li><a href="#">Item 1Aiii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1B</a>
              <ul class="menu vertical nested">
                  <li><a href="#">Item 1Bi</a></li>
                  <li><a href="#">Item 1Bii</a></li>
                  <li><a href="#">Item 1Biii</a></li>
              </ul>
          </li>
          <li><a href="#">Item 1C</a>
            <ul class="menu vertical nested">
                  <li><a href="#">Item 1Ci</a></li>
                  <li><a href="#">Item 1Cii</a></li>
                  <li><a href="#">Item 1Ciii</a></li>
              </ul>
          </li>
      </ul>
    </li>
{% endblock %}