<div class="grid-x">
    <div class="cell text-center">
        <h3 class="content-header" style="margin-top: 1rem;">Giving Patients a Comfortable Life</h3>
        <p>Comfort and support goes a long way for a terminally ill patient. When it comes to outstanding hospice care, turn to Legacy Of Love Hospice in Lubbock, TX. We offer specialized patient care to keep your loved one comfortable and to improve the quality of his or her life.</p>
        <h3 class="content-header">The Benefits of Hospice Care</h3>
        <p>Hospice focuses on caring, not curing, and is provided in the patient’s home in most cases. Along with the comfort and support it gives the patient, this type of care also helps families and close friends overcome the emotional and psychological challenges of looking after kindred with a terminal condition.</p>
        <img src="./../core_static/assets/images/Senior-and-Caregiver.jpg" alt="Helping Patient"/>
        <h3 class="content-header" style="margin-top: 1rem;">Hospice Care is Provided in:</h3>
            <ul class="provided" style="list-style: none;">
                <li>Homes</li>
                <li>Hospitals</li>
                <li>Long-Term Care Facilities</li>
                <li>Nursing Homes</li>
                <li>Assisted Living Centers</li>
                <li>Palliative Care Centers</li>
            </ul>
        <h3 class="content-header">Inquire About Our Hospice Services</h3>
        <p>The best kind of care you can give your terminally ill relative is proper support and medical assistance in the comfort of his or her home. Let our hospice care experts help you and your family during this difficult situation. Contact us today at (806) 370-2100 for inquiries about the services we provide.</p>
    </div>
</div>