<div class="grid-x">
    <div class="cell text-center">
        <h3 class="content-header-green" style="margin-top: 1rem;">Trustworthy Healthcare Professionals</h3>
        <p>Legacy Of Love Hospice is a hospice care agency which is family and area physician owned committed to providing superior quality hospice services in Lubbock, TX and surrounding communities. Since 2005, we have been attending to the medical, emotional, and spiritual needs of patients who are in end-of-life care. You can trust our healthcare experts to go above and beyond what is expected to make your loved one safe and more relaxed at home. We also have a volunteer program where people sit with the patients, read books, cook for them, and help make them feel at home in our facility. Any money donated to the foundation is set up into a fund to help patients who do not have funds to pay for their care.</p>
        <h3 class="content-header-green">Why Choose Us?</h3>
            <ul class="about" style="list-style:none;">
                <li>Certified and Licensed by the Department of Aging and Disability Services (DADS)</li>
                <li>Covered 100% Medicare, Medicaid, and/or Most Private Insurance</li>
                <li>English and Spanish Speaking Representatives</li>
                <li>Enthusiastic, Loving, and Positive Healthcare Staff</li>
                <li>Physician and Family Owned</li>
                <li>Over a Decade of Excellence in the Business</li>
            </ul>
        <h3 class="content-header-green">Call Our Hospice Care Agency Today</h3>
        <p>Our mission is to help the most compassionate healthcare professionals provide the highest quality patient or family care and support possible. We want to give all-out care, share our love, and bring hope to our patients so they can live their lives to the fullest. For more information about our hospice services, you may call our agency at (806) 370-2100.</p>
    </div>
</div>