<div class="grid-x">
    <div class="cell text-center">
        <h3 class="content-header-purple" style="margin-top: 1rem;">Why choose Legacy of Love Hospice?</h3>
        <p>Looking after a loved one with terminal illness can be too much to handle. Seek immediate assistance from professionals. For exceptional medical care, as well as emotional and spiritual support, count on the healthcare experts of Legacy Of Love Hospice in Lubbock, TX. Our services can help bring solace to the patient and concerned family.</p>
        <img src="../../core_static/assets/images/Senior-in-Wheelchair-and-Nurse.png" alt="Wheelchair and Nurse"/>
        <h3 class="content-header-purple" style="margin-top: 1rem;">Our Hospice Care Services Include:</h3>
        <ul class="services1" style="list-style: none;">
            <li>24/7 Medical Assistance From</li>
            <li>a Registered Nurse</li>
            <li>Advance Directive Assistance</li>
            <li>Family Care</li>
            <li>Pain Control</li>
            <li>Patient Care</li>
            <li>Physical, Social, Emotional, and Spiritual Support </li>
        </ul>
        <h3 class="content-header-purple">Members of Our Hospice Care Team:</h3>
        <ul class="services2" style="list-style: none;">
            <li>Registered Nurses</li>
            <li>Chaplains</li>
            <li>Nurse Aides</li>
            <li>Physician Medical Directors</li>
            <li>Social Workers</li>
            <li>Volunteers</li>
            <li>Bereavement Team</li>
        </ul>
    </div>
</div>